.dialog{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.dialog-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.dialog-content{
	position:absolute;
	left:50%;
	top:50%;
	width:500px;
	height:300px;
	margin-top:-150px;
	margin-left:-250px;
	background:#fff;
}
.dialog-header{
	
}